.settings-container {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  .page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--settings-background-color);
    color: var(--settings-font-color);
    width: 44rem;
    height: 31rem;
    border-radius: 15px;

    .header {
      position: absolute;
      top: 0rem; right: 0rem; left: 0rem; 
      display: flex;
      padding: 1rem 1.5rem;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 1.3rem;

      .close-button {
        top: 1rem; right: 1rem; 
        height: 2rem;
        padding: 0.2rem;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: transparent;
        outline: none;
        border: transparent;
        cursor: pointer;

        & > * {
          fill: var(--exit-icon-color);
          width: 100%;
          height: 100%;
          aspect-ratio: 1;

          transition: fill 0.2s;
        }

        &:hover {
          & > * {
            fill: var(--exit-highlighted-icon-color);
          }
        }
      }
    }

    .optional-lesson-container {
      display: grid;
      gap: 0.3rem;
      padding: 2rem;

      & select {
        font-size: 1rem;
        width: 100%;
        background-color: transparent;
        color: var(--settings-font-color);

        & > option {
          background-color: var(--select-background-color);
          width: 100%;
        }
      }
    }
  }
  
  &[open] {
    display: flex;
  }
}