:root {
  --background-color: rgb(15, 15, 15);
  --background-card-color: rgb(23, 23, 23);
  --font-color: white;
  --font-dim-color: rgb(178, 178, 178);
  --border-color: rgb(84, 83, 83);
  --lecture-color: rgb(255, 60, 95);
  --practice-color: rgb(255, 183, 74);
  --laboratory-color: rgb(44, 179, 255);
  --online-color: rgb(0, 184, 0);
}