.schedule-container {
  padding: 0 10px 0 20px;
  height: 100%;
  box-sizing: border-box;
  
  transition: padding 0.5s;
}

.schedule-container.full {
  padding: 0 10px 10px 0;
}

.schedule--grid {
  display: flex;
  grid-template-columns: 40px repeat(5, 1fr) 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.schedule--column {
  height: 100%;
  display: grid;
  /* grid-template-rows: 40px repeat(5, minmax(120px, 1fr)); js*/
  gap: 10px;
}
.schedule--column.lesson {
  flex: 1;
}
.schedule--column.time-container {
  width: 130px;
  transition: width 0.5s;
}
.schedule--column.time-container.full {
  width: 40px;
}

.schedule--column.time-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  font-size: 1.25rem;
  font-weight: bold;

  transition: transform 0.5s;
} 
.schedule--column.time-container.full > * {
  transform: rotate(-90deg);
}


.schedule--week-name-container {
  display: flex;
  flex-direction: column;
  grid-template-rows: 40px s1fr;
  width: 40px;
  height: 100%;
}

.schedule--week-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-wrap: nowrap;
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin: 0;

  transition: 
    transform 0.5s, 
    height 0.5s,
    margin 0.5s;
}

.schedule--week-name.right > p {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
}
.schedule--week-name.right.hidden {
  transform: translatex(30vh);
}
.schedule--week-name.right.hidden > p{
  transform: translatex(30vh);
}

.schedule--week-name.top {
  font-size: 2.5rem;
  height: 60px;
  margin: 10px 0 15px 0;
}
.schedule--week-name.top > p {
  align-items: end;
}
.schedule--week-name.top.hidden {
  transform: translatey(-100px);
  height: 0;
  margin: 0;
}

.schedule--size-button {
  outline: transparent;
  border: none;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}

.schedule--size-button > svg {
  width: 100%;
  height: 100%;
  fill: white;

  transition: transform 0.5s;
}

.schedule--size-button:hover > svg {
  transform: rotate(180deg);
}

.schedule--size-button > svg > path {
  transform-origin: center;
  transform-box: fill-box;
  box-sizing: border-box;
  animation: toFull 0s 0.2s both;
}

.schedule--size-button.full > svg > path {
  animation: toNofull 0s 0.2s both;
}

@keyframes toNofull {
  0% {
    transform: scaleX(-1) scaleY(-1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes toFull {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(-1) scaleY(-1);
  }
}