.lesson-container > * {
  margin: 5px;
}

.lesson-container {
  --_lesson-color: var(--lesson-color, transparent);
  --_active-background-color: var(--lesson-color, var(--card-background-color));

  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 10px;
  background: var(--card-background-color);
  color: var(--card-font-color);
  overflow: hidden;
  transition: box-shadow 0.2s, scale 0.2s;
  container-type: inline-size;

  &.active {
    background: var(--_active-background-color);
    color: var(--card-active-font-color);
    .lesson-statusbar {
      .lesson-type {
        color: var(--card-active-type-font-color);
        background-color: var(--card-active-type-background-color);
      }
    }
    .lesson-teacher {
      color: var(--card-active-teacher-font-color);
    }
  }

  &.lecture {
    --lesson-color: var(--lecture-color);
  }
  &.practice {
    --lesson-color: var(--practice-color);
  }
  &.laboratory {
    --lesson-color: var(--laboratory-color);
  }

  &.highlighted {
    border-color: white;
  }

  &.has-link{
    cursor: pointer;
  }

  .lesson-statusbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lesson-status {
      font-size: 0.7rem;
      font-weight: bold;
    }
  
    .lesson-type {
      display: inline-block;
      font-size: 0.7rem;
      font-weight: bold;
      background-color: var(--_lesson-color);
      color: var(--card-type-font-color);
      border-radius: 100px;
      padding: 5px 7px;
    }
  }

  .lesson-name {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1rem;
    max-height: 2.2em;
    overflow: hidden;
  }
  
  .lesson-teacher {
    color: var(--card-teacher-font-color);
    font-size: 0.9rem;
  }

  .text-container {
    display: grid;
    gap: 10px;
  }

  @container (max-width: 100px) {
    .lesson-teacher {
      display: none
    }
  }
}

.lesson-container.has-lesson:hover {
  box-shadow:
  0 0 0 2px var(--_lesson-color),
  0 0 var(--blur-glow-card-lesson) var(--strength-glow-card-lesson) var(--_lesson-color);
  scale: 1.05;
  z-index: 1;
}